:root{
    --color-primary:#2196F3;
    --color-title:#212121;
    --color-description:#757575;
    --font-primary: "Roboto", Arial, Helvetica, sans-serif;
    --font-secondary: "Raleway", Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--font-primary);
    text-decoration: none;
    
}

a{
    text-decoration: none;
    font-style: normal;
}